.paper {
  margin-top: 20px;
  padding: 20px;
  padding-bottom: 5px;
}

.txtspace {
  padding-bottom: 3px;
}

.bottomStepper {
  position: absolute;
  bottom: 0;
  width: 92%;
  padding: 0;
  margin: 0;
}

.input-tag {
  border: none;
  outline: none;
  color: black;
}

.create-text {
  font-family: "Google Sans",sans-serif;
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
}

.txt {
  margin-left: 4px;
}

.jumping-text {
  position: relative;

}

.project-name {
  margin-bottom: 36px;
  max-width: 600px;
  padding-top: 16px;
  position: relative;
  width: 100%;
}
