.card {
  color: #000;
  background-color: #fff;
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.large {
  margin-bottom: 30px;
}

input {
  display: none;
}
