.install--options {

}

.install--option {
    line-height: normal;
    list-style: none;
    margin-bottom: 8px;
}

.install--option--text {
  color: #000;
  font-size: 20px;
  font-family: 'Roboto, SegoeUi', sans-serif, serif;
  padding-left: 10px;
  text-align: left;
}

.install--icon {
  margin-top: 10px;
  margin-right: 10px;
}

.space {
  padding: 10px;
}
