.view__header {
  padding-top: 50px;
  text-decoration: overline;
  text-align: center;
}

.timeline--notice {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}

.timeline--header {
  text-align: center;
}

.requirements--header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.overview--image {
  height: 300px;
  width: 300px;
  border: 0.1px solid white;
  border-radius: 5px;
  object-fit: cover;
}

.create--timeline {
  padding-top: 20px;
  padding-bottom: 20px;
}

.create--timeline--heading {
  padding-top: 30px;
}

.sp {
  padding-top: 20px;
  margin-left: 40%;
  margin-right: 32%;
  width: 100%;
  display: inline-flex;
}

.button--space {
  margin-left: 10px;
}
