#frame {
  width: 850px;
  height: 500px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 5px;
}

#screenshot {
  position: absolute;
  top: 120px;
  left: 370px;
}
