/** Color Variables **/
$primary-color: #000 !default;
$secondary-color: #fff !default;
$background-color: #0079d7 !default;

/** Window Loader **/
$duration: 3000ms;
$loader-size: 50px;
$pip-size: 8px;

/** Material Search **/
$color-header: #22313F;
$color-placeholder: #EEE;
$btn-material-size: 60px;